@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
h3 {
  font-weight: bold;
}

a {
  text-decoration: none;
}

* {
  font-family: "Roboto", sans-serif;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.Container--row {
  flex-direction: column;
}

.Container--spread-sides {
  justify-content: space-between;
}

.Container--justify-start {
  justify-content: flex-start;
}

.Container--gap {
  gap: 4rem !important;
}

.Button {
  margin: 0.5rem;
  font-size: 1.3rem;
}

.Button {
  button: 1px solid black;
  border: 1.5px solid rgb(46, 204, 113);
  border-radius: 0.75rem;
  background-color: rgb(46, 204, 113);
  cursor: pointer;
  color: rgb(46, 204, 113);
  width: 20rem;
  padding: 1rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.Button--light {
  border-color: white;
  color: #F8E5E6;
}

.Button--light:hover {
  background: #ef0b0b;
  transition: 0.5s;
}

.Button--logout {
  width: auto;
  margin-right: 1rem;
  float: right;
  border: none !important;
}

.Button--profile {
  width: auto;
  border: none !important;
}

.Button--back {
  width: auto;
  float: right;
}

.Link {
  font-size: 1.3rem;
  background-color: transparent;
  border: 1.5px solid;
  text-align: center;
  width: 10rem;
}

.Tag--expenses {
  width: 53rem;
  border: 1.5px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.5rem;
}

.Tag--expenses:hover {
  background-color: rgb(46, 204, 113);
}

.Tag--income {
  width: 53rem;
  border: 1.5px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: 2.5rem;
  font-size: 1.5rem;
}

.Tag--income:hover {
  background-color: rgb(46, 204, 113);
}

@media screen and (min-width: 320px), (max-width: 480px) {
  .Tag--expenses {
    width: 10rem;
  }

  .Tag--income {
    width: 10rem;
  }
}
@media screen and (min-width: 768px), (max-width: 1024px) {
  .Tag--expenses {
    width: 10rem;
  }

  .Tag--income {
    width: 10rem;
  }
}
@media screen and (min-width: 1200px) {
  .Tag--expenses {
    width: 10rem;
  }

  .Tag--income {
    width: 10rem;
  }
}
.Plus {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 25px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.Input {
  margin: 0.5rem;
  font-size: 1.3rem;
}

.Input {
  width: 20rem;
  border: 1.5px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  cursor: pointer;
  color: rgb(184, 184, 184);
  text-align: left;
}

.Input--light {
  border-color: rgb(228, 232, 237);
  color: rgb(129, 118, 118);
}

.Input--light::placeholder {
  color: rgb(129, 118, 118);
}

.checkbox {
  text-align: right;
  width: 20em;
  display: flex;
  color: rgb(129, 118, 118);
}

.Box {
  width: 70vw;
  height: 80vh;
  background-color: rgba(46, 204, 113, 0.7);
  border-radius: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  padding-right: 20px;
  overflow-y: scroll;
}

@media screen and (min-width: 320px), (max-width: 480px) {
  .Box {
    width: 70%;
    height: 70%;
  }
}
@media screen and (min-width: 768px), (max-width: 1024px) {
  .Box {
    width: 60%;
    height: 60%;
  }
}
@media screen and (min-width: 1025px), (max-width: 1200px) {
  .Box {
    width: 60%;
    height: 60%;
  }
}
.Box--tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 60vw;
}

.Box--back {
  height: 150px;
}

.Box--profile {
  height: 90vw;
}

.info {
  background-color: transparent;
  width: 90%;
  height: auto;
  overflow-y: scroll;
  display: flex;
}

.h3 {
  text-align: left;
  font-weight: 200;
}

form {
  width: 30vw;
  height: 65vh;
  display: flex;
  align-content: center;
}

/*# sourceMappingURL=index.css.map */
