
$color-icons: #2ecc71

.Button
    margin: .5rem
    font-size: 1.3rem

.Button
    button: 1px solid black
    border: 1.5px solid $color-icons
    border-radius: .75rem
    background-color: $color-icons
    cursor: pointer
    color: $color-icons
    width: 20rem
    padding: 1rem
    margin-bottom: 4rem
    margin-top: 2rem



.Button--light
    border-color: white
    color: #F8E5E6

.Button--light:hover
    background:  #ef0b0b     
    transition:  .50s

.Button--logout
    width: auto
    margin-right: 1rem
    float: right
    border: none !important


.Button--profile
    width: auto
    border: none !important

.Button--back
    width: auto
    float: right

.Link
    font-size: 1.3rem
    background-color: transparent
    border: 1.5px solid
    text-align: center
    width: 10rem

.Tag--expenses
    width: 53rem
    border: 1.5px solid
    border-top: none
    border-left: none
    border-right: none
    background-color: transparent
    cursor: pointer
    margin-left: 2.5rem
    

.Tag--income
    width: 53rem
    border: 1.5px solid
    border-top: none
    border-left: none
    border-right: none
    background-color: transparent
    cursor: pointer
    float: right
    margin-right: 2.5rem


@media screen and (min-width: 320px), (max-width: 480px )
    .Tag--expenses
            width: 10rem 

    .Tag--income  
        width: 10rem
    
@media screen and (min-width:768px), (max-width: 1024px)
    .Tag--expenses
            width: 10rem 

    .Tag--income  
        width: 10rem

@media screen and (min-width: 1200px)
    .Tag--expenses
            width: 10rem 

    .Tag--income  
        width: 10rem

.Plus
    border-radius: 50%
    height: 50px
    width: 50px
    font-size: 25px
    border: none
    background-color: #A0D995
    cursor: pointer
