$gris : rgb(228, 232, 237)
$gris-dark : rgb(184, 184, 184)
$gris-color:  rgb(129, 118, 118)
    
    
.Input 
    margin: .5rem
    font-size: 1.3rem

.Input 
    width: 20rem
    border: 1.5px solid
    border-top: none
    border-left: none
    border-right: none
    background-color: transparent
    cursor: pointer
    color: $gris-dark
    text-align: left

.Input--light
    border-color:$gris  
    color: $gris 

.Input--light::placeholder
    color:$gris-color

.checkbox 
    text-align: right
    width: 20em
    display: flex
    color:$gris-color